################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode/launch.json
.vscode/settings.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
package-lock.json
package.json
.github/workflows/playwright.yml

#dandi files
*.nwb

#venv
.venv/
.playwright-mcp/
